*.profraw
build/
DerivedData/
*.xcarchive/
*.xcarchive
*.dSYM/
*.dSYM
.DS_Store
xcuserdata/
**/*.xcodeproj/project.xcworkspace/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/swiftpm/Package.resolved
dist/
